<main>
  <h1>Estudantes</h1>

  <app-button 
    value="Registrar novo estudante" 
    (onClick)="showCreateStudentModal = true"
  ></app-button>

  <div class="input-area">
    <app-input 
      label="Nome do estudante" 
      [value]="queryName" 
      (onChangeEmitter)="onSearch($event)"
    ></app-input>
  </div>

  <table *ngIf="students.length">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>RG</th>
    </tr>
    <tr *ngFor="let item of students">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.rg }}</td>
    </tr>
  </table>
</main>

<app-create-student-modal
  *ngIf="showCreateStudentModal"
  (closeEmitter)="onCloseModal($event)"
></app-create-student-modal>