:host {
  width: 100%;
}
  
main {
  padding: 2rem 3rem;
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    background-color: #FFF;
    padding: 1.5rem;
    border-radius: 10px;
    
    .row {
      display: flex;
      gap: 2rem;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
    }
  }
}